* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';

}

body {
    background-color: #cecece;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    margin: 4px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background: #3498db;
    color: white;
}

.btn-warning {
    background: #f39c12;
    color: white;
}

.btn-danger {
    background: #e74c3c;
    color: white;
}

.btn-secondary {
    background: #7f8c8d;
    color: white;
}

.universal-btn {
    background-color: #470c0c;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.login-container {
    border: 2px solid red;
    padding: 30px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 500;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button {
    padding: 15px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* DashBoard */
.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard-header {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #470c0c;
    padding: 15px;
}

.dashboard-content {
    width: 80%;
    height: 100%;
    padding: 15px;
    position: absolute;
    right: 0;
}

.dashboard-header .logo {
    margin: auto;
    height: 180px;
    width: 180px;
}

.dashboard-header .logo img {
    height: 100%;
    width: 100%;
}

.dashboard-header .slider-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dashboard-header .slider-section h3 {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 24px;
    font-weight: 500;
}

.dashboard-header .slider-section h3 a {
    color: #fff;
    text-decoration: none;

}

.dashboard-header .slider-section h3:hover {
    background-color: #fff;
    cursor: pointer;

}

.dashboard-header .slider-section h3:hover a {
    color: #470c0c;
}

/* Dashboard Content  */
.dashboard-container .dashboard-content {
    padding: 15px;
    color: #470c0c;
}

.dashboard-welcome {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffffb7;
    border-radius: 8px;
}

.dashboard-welcome h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dashboard-welcome p {
    font-size: 16px;
    color: #888;
}

.dashboard-cards {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* margin: 0 10px; */
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 200px;
    /* align-items: center; */
    justify-content: flex-start;
}

.card h2 {
    font-weight: 500;
    font-size: 20px;
}

.card p {
    font-size: 28px;
}

.update-detail {
    font-size: 14px;
    margin-top: 80px;
    color: #888;
}

.profit-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 300px;
    justify-content: flex-start;
}

.profit-card h2 {
    font-weight: 500;
    font-size: 20px;
}

.profit-card p {
    font-size: 28px;
    margin-bottom: 100px;
}

.title {
    font-size: 38px;
    color: white;
}

/* .managment-container */
.management-container {
    margin: auto;
    padding: 20px;
    width: 80%;
    position: absolute;
    border-radius: 8px;
    right: 0;
}

.management-container .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.management-container .menu-header h3 {
    color: #470c0c;
}

.menu-management {
    margin: auto;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: white;
    color: #470c0c;
}

.menu-management th {
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
}

.menu-management td {
    padding: 10px 5px;
    color: black;
    border-bottom: 1px solid #999797;
    font-size: 18px;
    text-align: center;
}

.settings-container {
    padding: 15px;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    right: 0;
    border: 2px solid red;
}

.settings-header h3 {
    color: #470c0c;
    font-size: 32px;
    margin-bottom: 20px;
}

.option {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.option h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.option p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.options-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    color: #470c0c;
    padding: 30px;
}


footer {
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    color: #470c0c;
    width: 100%;
    font-size: 18px;
}

.settings-footer {
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    background-color: white;
    color: #470c0c;
    width: 98%;
    bottom: 0;
    position: absolute;
    font-size: 18px;
}